*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    text-align: left;
    font-weight: 400;
    line-height: 1.35;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
section{
    float: left;
    width: 100%;
}
.container{
    width: 1200px;
    float: none;
    margin: 0 auto;
}
.sidebar{
    float: left;
    width: 25%;
}
.content{
    float: left;
    width: 50%;
}
.one-col .content{    /* 1 col thi them vao */
    width: 100%;
}
.three-col .content{ /* 3 col thi them vao */
    width: 50%;
}
